
body {
  background-color: rgb(77, 77, 77);
}

h1{
  text-align: center;
  color: white;
  margin-top: 300px;
}

p,h2{
  text-align: center;
  color: white;
}

.csc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  }
/* 
url/Le nom plus beau chat de cette terre + jour de naissance d'un rat
2/5 : hy
*/